<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> Product</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
		<div class="container my-2" align="center">
		
			<h3>Product List</h3>
		
			<a href="ichiran">商品一覧</a><br>
			<a href="mod">商品登録</a><br>
			<a href="#">商品変更.削除</a>
			
		</div>
</body>
</html>